@using Kendo.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="megaStore">
        @(Html.Kendo().Menu()
      .Name("Menu")
      .Animation(animation =>
        {
            animation.Open(open =>
            {
                if (ViewBag.animation == "expand")
                {
                    open.Expand(ExpandDirection.Vertical);
                }

                if (ViewBag.animation == "slide")
                {
                    open.SlideIn(SlideDirection.Down);
                }

                if (true)
                {
                    open.Fade(FadeDirection.In);
                }
            });
        })
        .HoverDelay(100)
      .Items(items =>
      {
          // items.Add().Text("Categories").Action("Index", "Categories");
          items.Add()
              .Text("Categories")
              .Items(children =>
              {
                  children.Add().Text("Add").Action("Add", "Categories");
                  children.Add().Text("List all").Action("Add", "All");

              });
          items.Add()
    .Text("Categories")
    .Items(children =>
    {
        children.Add().Text("Add").Action("Add", "Categories");
        children.Add().Text("List all").Action("Add", "All");

    });
          items.Add()
              .Text("Categories")
              .Items(children =>
              {
                  children.Add().Text("Add").Action("Add", "Categories");
                  children.Add().Text("List all").Action("Add", "All");

              });

          items.Add().Visible(Context.User.Identity.IsAuthenticated).Text("Logout [" + Context.User.Identity.Name + "]").Action("LogOff", "Account");
          items.Add().Visible(!Context.User.Identity.IsAuthenticated).Text("Register").Action("Register", "Account");
          items.Add().Visible(!Context.User.Identity.IsAuthenticated).Text("Login").Action("Login", "Account"); ;
      })
        )

    </div>
@*    <style>*@
@*        #megaStore {*@
@*            max-width: 960px;*@
@*            margin: 30px auto;*@
@*        }*@
@**@
@*        #menu h2 {*@
@*            font-size: 1em;*@
@*            text-transform: uppercase;*@
@*            padding: 5px 10px;*@
@*        }*@
@**@
@*        #template img {*@
@*            margin: 5px 20px 0 0;*@
@*            float: left;*@
@*        }*@
@**@
@*        #template {*@
@*            width: 380px;*@
@*        }*@
@**@
@*            #template ol {*@
@*                float: left;*@
@*                margin: 0 0 0 30px;*@
@*                padding: 10px 10px 0 10px;*@
@*            }*@
@**@
@*            #template:after {*@
@*                content: ".";*@
@*                display: block;*@
@*                height: 0;*@
@*                clear: both;*@
@*                visibility: hidden;*@
@*            }*@
@**@
@*            #template .k-button {*@
@*                float: left;*@
@*                clear: left;*@
@*                margin: 5px 0 5px 12px;*@
@*            }*@
@*    </style>*@

    <div class="container body-content text-center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My KendoUI Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
    <script>
    $(function() {
        $('#menu').kendoMenu();
    })
    </script>
</body>
</html>