@using Kendo.Mvc.UI
@model Planex.Web.Areas.HR.Models.UserEditViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="row">
        <div class="col-md-6">
            @if (Model.ImageId != null)
            {
                <img src="@Url.Action("Image", "Userdetails", new { id = Model.ImageId.Value })" alt="@Model.FirstName" class="img-responsive" />
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Userdetails", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                <br />
                @Html.EditorFor(d => d.Id)
                @Html.EditorFor(d => d.Email)
                @Html.EditorFor(d => d.FirstName)
                @Html.EditorFor(d => d.LastName)
                @Html.EditorFor(d => d.PricePerHour)

                @(Html.Kendo().MultiSelect()
                      .Name("Skills")
                      .Placeholder("Select skills...")
                      .BindTo((List<string>)ViewData["skills"])
                      .Value(Model.Skills)
                )

                <input type="file" id="UploadedImage" name="UploadedImage" class="upload" />
                <input type="submit" value="Save" class="btn btn-default" />
            }

            @*                @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            @*                @Html.HiddenFor(model => model.Id)*@
            @**@
            @*                <div class="form-group">*@
            @*                    @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})*@
            @*                    <div class="col-md-10">*@
            @*                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})*@
            @*                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})*@
            @*                    </div>*@
            @*                </div>*@
            @**@
            @*                <div class="form-group">*@
            @*                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})*@
            @*                    <div class="col-md-10">*@
            @*                        @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})*@
            @*                        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})*@
            @*                    </div>*@
            @*                </div>*@
            @**@
            @*                <div class="form-group">*@
            @*                    @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})*@
            @*                    <div class="col-md-10">*@
            @*                        @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})*@
            @*                        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})*@
            @*                    </div>*@
            @*                </div>*@
            @**@
            @*                <div class="form-group">*@
            @*                    @Html.LabelFor(model => model.PricePerHour, htmlAttributes: new {@class = "control-label col-md-2"})*@
            @*                    <div class="col-md-10">*@
            @*                        @Html.EditorFor(model => model.PricePerHour, new {htmlAttributes = new {@class = "form-control"}})*@
            @*                        @Html.ValidationMessageFor(model => model.PricePerHour, "", new {@class = "text-danger"})*@
            @*                    </div>*@
            @*                </div>*@
            @**@

            @**@
            @*                <div class="form-group">*@
            @*                    <div class="col-md-offset-2 col-md-10">*@
            @*                        <input type="submit" value="Save" class="btn btn-default"/>*@
            @*                    </div>*@
            @*                </div>*@
        </div>
    </div>

