@using Kendo.Mvc.UI
@model Planex.Web.Areas.HR.Models.UserEditViewModel

@{
    ViewBag.Title = "Index";
}

<div class="well k-content">
    <h3>User Profile for @(Model.FirstName + " " + Model.LastName)</h3>
    <br />
    <div class="row">
        <div class="col-md-6">
            @if (Model.ImageId != null)
            {
            <img src="@Url.Action("Image", "Userdetails", new { id = Model.ImageId.Value })" alt="@Model.FirstName" class="img-responsive" />
            }
        </div>

        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Userdetails", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    <input type="file" id="UploadedImage" name="UploadedImage" class="upload" />
                </div>
                <div>
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Role)
                    @Html.ValidationMessageFor(model => model.Role, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.PricePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PricePerHour)
                    @Html.ValidationMessageFor(model => model.PricePerHour, string.Empty, new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(model => model.Skills, htmlAttributes: new { @class = "control-label col-md-2" })
                    @(Html.Kendo().MultiSelect().Name("Skills").Placeholder("Select skills...").BindTo((List<string>)ViewData["skills"]).Value(Model.Skills))
                </div>
                <div>
                    <input type="submit" value="Save" class="k-button" />
                </div>
            }
        </div>
    </div>
</div>
