@using Kendo.Mvc.UI
@model Planex.Web.Areas.Lead.Models.EstimationEditViewModelSubTask

<script>
    function filterUsers() {
        var skillId = $("#skills").val();

        $.ajax({
            url: '@Url.Action("GetCascadeUsersWithSkill", "Estimations")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { skillId: skillId },
            success: function (users) {
                $("#users").kendoMultiSelect({
                    dataSource: users
                });
            }
        });

        return;
    }

    function onChangeSkill() {
        filterUsers();
        return;
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorFor(model => model.Title)
        @Html.EditorFor(model => model.Description)
        @Html.EditorFor(model => model.Start)
        @Html.EditorFor(model => model.Duration)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @(Html.Kendo().DropDownList()
              .Name("skills")
              //.HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("Select skill...")
              .DataTextField("skill")
              .DataValueField("id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetAllSkills", "Estimations"); //.Data("onChangeSkill");
                  })
              .ServerFiltering(true);
              })
              .Events(e =>
              {
                  e.Close("onChangeSkill");
              })
              //.SelectedIndex(0)

        )

        <div id="users"></div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


