@using Kendo.Mvc.UI
@model Planex.Web.Areas.Lead.Models.EstimationEditViewModelSubTask

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.EditorFor(model => model.Title)
        @Html.EditorFor(model => model.Description)
        @Html.EditorFor(model => model.Start)
        @Html.EditorFor(model => model.Duration)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>

        @(Html.Kendo().DropDownList()
                      .Name("skills")
                      //.HtmlAttributes(new { style = "width:100%" })
                      .OptionLabel("Select skill...")
                      .DataTextField("skill")
                      .DataValueField("id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetAllSkills", "Estimations");
                              //                                  .Data("filterProducts");
                          })
                          .ServerFiltering(true);
                      })
                      .SelectedIndex(0)
              )

        <script>
            function filterUsers() {
                return {
                    skillId: $("#skills").val()
                };
            }
        </script>

        @(Html.Kendo().DropDownList()
                      .Name("users")
                      //.HtmlAttributes(new { style = "width:100%" })
                      .OptionLabel("Select user...")
                      .DataTextField("email")
                      .DataValueField("id")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetCascadeUsersWithSkill", "Estimations").Data("filterUsers");
                          })
                          .ServerFiltering(true);
                      })
                       .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("skills")
              )


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
