@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using Planex.Data.Models
@using Planex.Web.Areas.Lead.Models.Estimation
@model Planex.Web.Areas.Lead.Models.Estimation.EstimationEditViewModel

@{
    ViewBag.Title = "Create project";
}

<br />
<div class="well k-content">
    <h2 class="well-title">Project details</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.Raw(Model.Description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Start, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Start)
                </div>
            </div>

            @Html.Partial("_DetailsFiles", Model.UploadedAttachmentFiles)

            <div class="form-group">
                @if (Model.State == TaskStateType.UnderEstimation)
                {
                    @Html.ActionLink("Send For Approval", "SendForApproval", new {id = Model.Id}, new {@class = "k-button"})
                }
            </div>
        </div>
    }

</div>

<div class="well k-content">
    <h2 class="well-title">Estimation</h2>
    @Html.Partial("_DetailsSchema", Model)
</div>