@using Kendo.Mvc.UI
@using Planex.Web.App_LocalResources
@using Planex.Web.Areas.Manager.Models.Projects
@model IEnumerable<Planex.Web.Areas.Manager.Models.Projects.ProjectListViewModel>

@{
    ViewBag.Title = HtmlLabels.Projects;
}

<br/>
<div class="well k-content">
    <h3 class="well-title">@HtmlLabels.Projects</h3>
    <hr />
    <div>
        @Html.ActionLink(@HtmlLabels.ProjectCreate, "Create", "", new { @class = "k-button" })
    </div>
    <br/>
    @(Html.Kendo().Grid<ProjectListViewModel>().Name("grid").Columns(columns =>
          {
              columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Details", "Projects", new { id = "#=Id#" }) + "'>" + @HtmlLabels.ProjectSelect + "</a>");
              columns.Bound(c => c.Title);
              columns.Bound(c => c.Manager);
              columns.Bound(c => c.Lead);
              columns.Bound(c => c.Priority);
              columns.Bound(c => c.State);
              columns.Bound(c => c.Completed);
          }).ColumnMenu().Pageable().Navigatable().Sortable(sortable => { sortable.SortMode(GridSortMode.SingleColumn); }).Filterable().Scrollable().DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.Id)).Read(read => read.Action("ReadAllProjects", "Json")))
    )
</div>